*.filters
*.pdb
*.a
*.user
*.obj
*.tlog
*.db
*.ilk
*.vcxproj
xouts/bin/QLuaCore.exp
*.exe
*.lib
*.dll
*.sln
*.log
*.exp
TestBase/debug/moc_MainWindow.cpp
*.opendb
TestQVariant/debug/moc_MainWindow.cpp
*.suo
Makefile